{% extends 'main/layout.html' %}

{% block title %}Наши партнёры{% endblock %}

{% block content %}
<cont class="d-flex h-90 text-center p-3 mx-auto flex-column">
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="../static/main/img/тест_4.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">*Название компании изготовления обуви*</h5>
        <p class="card-text">Мы изготавливаем очень удобную обувь, поверьте.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../static/main/img/тест_5.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">*Название компании изготовления спортивной одежды*</h5>
        <p class="card-text">Наша одежда лучше всего подходит для активного отдыха, воркаута и для силовых нагрузок.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../static/main/img/тест_6.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">*Название компании изготовления спортивного инвентаря*</h5>
        <p class="card-text">С нами вы будете забивать мяч в ворота, а не одноклассника за горожами.</p>
      </div>
    </div>
  </div>
</div>
</cont>
{% endblock %}