{% extends 'main/layout.html' %}

{% block title %}Каталог{% endblock %}

{% block content %}
<cont>
<section>
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-4">
        <div class="card text-black">
          <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>
          <img src="../static/main/img/тест_1.png"
            class="card-img-top"/>
          <div class="card-body justify-content-center">
            <div class="text-center">
              <h5 class="card-title">Соревнования по бегу</h5>
            </div>
            <div>
              <div class="d-flex justify-content-between">
                <span>Спортивный инвентарь</span><span>4 000р</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Професиональные ведущие</span><span>3 000р</span>
              </div>
            </div>
            <div class="d-flex justify-content-between total font-weight-bold mt-4">
              <span>Всего</span><span>7 000р</span>
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Заказать</button>
        </div>
      </div>
        <div class="col-md-8 col-lg-6 col-xl-4">
        <div class="card text-black">
          <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>
          <img src="../static/main/img/тест_2.png"
            class="card-img-top"/>
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title">Школьные соревнования</h5>
            </div>
            <div>
              <div class="d-flex justify-content-between">
                <span>Спортивный инвентарь</span><span>4 000р</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Професиональные ведущие</span><span>6 500р</span>
              </div>
            </div>
            <div class="d-flex justify-content-between total font-weight-bold mt-4">
              <span>Всего</span><span>10 500</span>
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Заказать</button>
        </div>
      </div>
        <div class="col-md-8 col-lg-6 col-xl-4">
        <div class="card text-black">
          <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>
          <img src="../static/main/img/тест_3.jpg"
            class="card-img-top"/>
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title">Марафон</h5>
            </div>
            <div>
              <div class="d-flex justify-content-between">
                <span>Спортивный инвентарь</span><span>6 000р</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Професиональные ведущие</span><span>7 500р</span>
              </div>
            </div>
            <div class="d-flex justify-content-between total font-weight-bold mt-4">
              <span>Всего</span><span>13 500р</span>
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Заказать</button>
        </div>
      </div>
        <div class="col-md-8 col-lg-6 col-xl-4">
        <div class="card text-black">
          <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>
          <img src="../static/main/img/тест_4.jpg"
            class="card-img-top"/>
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title">Забег на короткие дистанции</h5>
            </div>
            <div>
              <div class="d-flex justify-content-between">
                <span>Спортивный инвентарь</span><span>2 000р</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Професиональные ведущие</span><span>2 000р</span>
              </div>
            </div>
            <div class="d-flex justify-content-between total font-weight-bold mt-4">
              <span>Всего</span><span>4 000р</span>
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Заказать</button>
        </div>
      </div>
        <div class="col-md-8 col-lg-6 col-xl-4">
        <div class="card text-black">
          <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>
          <img src="../static/main/img/тест_5.jpg"
            class="card-img-top"/>
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title">Мистер атлетик</h5>
            </div>
            <div>
              <div class="d-flex justify-content-between">
                <span>Спортивный инвентарь</span><span>3 000р</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Професиональные ведущие</span><span>2 500р</span>
              </div>
            </div>
            <div class="d-flex justify-content-between total font-weight-bold mt-4">
              <span>Всего</span><span>5 500р</span>
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Заказать</button>
        </div>
      </div>
        <div class="col-md-8 col-lg-6 col-xl-4">
        <div class="card text-black">
          <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>
          <img src="../static/main/img/тест_6.jpg"
            class="card-img-top"/>
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title">Командные соревнования</h5>
            </div>
            <div>
              <div class="d-flex justify-content-between">
                <span>Спортивный инвентарь</span><span>5 000р</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Професиональные ведущие</span><span>3 000р</span>
              </div>
            </div>
            <div class="d-flex justify-content-between total font-weight-bold mt-4">
              <span>Всего</span><span>8 000р</span>
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Заказать</button>
        </div>
      </div>
    </div>
  </div>
</section>
</cont>
{% endblock %}