{% extends 'main/layout.html' %}

{% block title %}Winner{% endblock %}

{% block content %}
 <cont class="d-flex h-90 text-center p-3 mx-auto flex-column">
    <main class="px-3">
        <h1>Последние мероприятия</h1>
        <p class="lead">Фото предоставлены заказчиками добровольно</p>
    </main>
     <imgs class="bg-light rounded d-flex justify-content: space-between;">
     <img src="../static/main/img/тест_5.jpg" class="rounded" height="300hv" width="300vw">
     <img src="../static/main/img/тест_3.jpg" class="rounded" height="300hv" width="300vw">
         <img src="../static/main/img/тест_6.jpg" class="rounded" height="300hv" width="300vw">
  </img>
 </cont>
{% endblock %}